<div class="class">
<app-header compareWebsites="Stored websites" navigationLink="/compare-websites"></app-header>
<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>New website</th>
    <th>Old website</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let column of pageEntityList">
    <td>{{column.createDate}}</td>
    <td>{{column.newPage}}</td>
    <td>{{column.oldPage}}</td>
    <td> <button type="button" (click)="deletePage(column.id)">Delete</button></td>
  </tr>
  </tbody>
</table>
</div>
