th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table{
  float: right;
  margin-right: 80px;
  width: 60%;
  border: 5px solid #707070;
}

button[type=button]{
  background-color: white;
  margin: 20px 0 20px 10%;
  color: #707070;
  border: 2px solid #707070;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;
  display: inline-block;
  padding: 16px 32px;
}

input[type=text]{
  padding: 12px 20px;
  margin: 20px 0 20px 10%;
  display: inline-block;
  border: 2px solid #707070;
  border-radius: 4px;
  box-sizing: border-box;
  color: #707070;
}
#page-date{
  padding: 12px 20px;
  margin: 20px 0 20px 10%;
  display: inline-block;
  border: 2px solid #707070;
  border-radius: 4px;
  box-sizing: border-box;
  color: #707070;
}

button[type=button]:hover {
  background-color: #707070;
  color: white;
}

#save-button{
  float:right;
  margin-right: 80px;
  margin-top: 80px;
  width:25%;
  size: 38px;
}







